fastapi[uvicorn]
llama-index
llama-index-llms-ollama
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma
chromadb
pymupdf
python-pptx
Pillow
sentence-transformers
python-multipart
ipfshttpclient
web3
eth-account
python-dotenv

